.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

.wrapper h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.addItemForm {
    display: flex;
}

.newItemInput {
    display: flex;
    align-items: center;
}

.newItemInput label,
.newItemInput input {
    margin-right: 0.5rem;
}

.todoListItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.todoListItem label {
    margin-right: 0.5rem;
}
